/* Caros Regular */
@font-face {
    font-family: 'Caros';
    src: url('../fonts/cretype_Caros.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*header*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-family: 'Caros', sans-serif;

    transform: translateY(0);
    transition: transform 0.4s ease, 
                
    background-color 0.4s ease, 
    box-shadow 0.4s ease;
}


.header.is-scrolled {
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header.is-hidden {
    transform: translateY(-100%);
}


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.header__logo img {
    height: 40px; 
}




.header__list {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.header__link {
    text-decoration: none;
    color: #1E4A17;
    transition: color 0.3s;
    /*font-weight: 600;*/
}

.header__link:hover {
    color: #2d6c2e; 
}

/*botones*/

.header__buttons {
    display: flex;
    gap: 1rem;
}

.header__button {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1px;
    font-weight: 600;
    transition: all 0.3s;
}


.button--primary {
    background-color: transparent;
    color: #1E4A17;
    border: 1px solid #1E4A17;
}
.button--primary:hover {
    background-color: #d5e8cb;
}

.button--secondary {
    background-color: transparent;
    color: #1E4A17;
    border: 1px solid #1E4A17;
}
.button--secondary:hover {
    background-color: #d5e8cb;
}




.header__toggle {
    display: none; 
    cursor: pointer;
    font-size: 1.2rem; 
}




@media (max-width: 768px) {
    
    
    .header__menu,
    .header__buttons {
        display: none;
    }

   
    .header__toggle {
        display: block;
    }
    
    
    .header__menu.is-active {
        display: flex; 
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column; 
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    
    
    .header__list {
        flex-direction: column; 
        gap: 1.5rem;
        align-items: center;
    }
}