.faq {
    padding: 100px 0;
    background-color: #F4F6F3;
    position: relative;
    z-index: 10;
}

.faq__caption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #001d6c;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.faq__title {
    font-size: 48px;
    line-height: 64px;
    color: #21272A;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.faq__accordion {
    max-width: 800px;
    margin: 0 auto;
}

.faq__item {
    background-color: #fff;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden; 
}

.faq__question {

    border: none;
    background: none;
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    padding: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #222;
    text-align: left;
}

.faq__icon {
    font-size: 1.5rem;
    font-weight: 300;
    color: #1E4A17; 
    transition: transform 0.3s ease;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq__answer p {
    font-family: 'Inter', sans-serif;
    padding: 0 1.5rem 1.5rem 1.5rem;
    line-height: 1.6;
    color: #333;
}

/* estilos de js */

.faq__answer.is-active {
    max-height: 200px; 
}

.faq__question.is-active .faq__icon {
    transform: rotate(45deg);
}

@media (max-width: 768px) {
  
    .faq__title {
        font-size: 36px;
        line-height: 48px;
    }

    
}