.segments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.segments__segment {
    padding: 80px 40px; 
}

.segments__segment--rural {
    background-color: #E9F5E5;
}
.segments__segment--urbano {
    background-color: #D5E7CC;
}

.segments__title {
    color: #1E4A17;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3.5rem;
}

.segments__stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.segments__stat {
    text-align: center;
    max-width: 146px;
    margin-left: auto;
    margin-right: auto;
}

.segments__icon {
    background-color: #2E6C2E; 

    width: 48px;
    height: 48px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;

    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.icon--thunderstorm {
    mask-image: url('../../assets/icons/thunderstorm.svg');
    -webkit-mask-image: url('../../assets/icons/thunderstorm.svg');
}

.icon--calendar {
    mask-image: url('../../assets/icons/calendar.svg');
    -webkit-mask-image: url('../../assets/icons/calendar.svg');
}

.icon--bug {
    mask-image: url('../../assets/icons/bug.svg');
    -webkit-mask-image: url('../../assets/icons/bug.svg');
}

.segments__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #21272A;
}

@media (max-width: 992px) {
    .segments__stats-grid {
        grid-template-columns: 1fr;
        gap: 2.5rem;
        align-items: stretch;
    }

    .segments__segment {
        padding: 60px 30px; 
    }

    .segments__stat {
        display: flex;
        flex-direction: column;
        align-items: center; 
        max-width: none; 
        min-height: 0;
    }

    .segments__text {
        flex-grow: 1;
        max-width: 250px; 
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .segments {
        grid-template-columns: 1fr;
    }

    .segments__title {
        font-size: 32px;
        line-height: 40px;
    }
}