.solution {
    padding: 80px 0 0;
    background-color: #FFFFFF; 
    position: relative;
    z-index: 10;
}

.solution__container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 3rem; 
    align-items: center; 
}

.solution__caption {
    color: #1E4A17;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase; 
}

.solution__title {
    color: #21272A;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 1.5rem;
}

.solution__description {
    color: #21272A;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.solution__image {
    line-height: 0; 
    align-self: end;
}

.solution__image img {
    width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .solution__container {
        grid-template-columns: 1fr 1fr;
        align-items: center; 
    }

    .solution__image {
        align-self: center; 
    }
}


@media (max-width: 768px) {
    .solution__container {
        grid-template-columns: 1fr;
        align-items: center; 
    }
    
    .solution__content {
        text-align: center;
    }

    .solution__image {
        align-self: center; 
        margin-top: 2rem;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .solution__caption {
        font-size: 16px;
        line-height: 24px;
    }
    
    .solution__title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
    }

    .solution__description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}