.contact {
    padding: 100px 0;
    background-color: #fff; 
    position: relative;
    z-index: 10;
}

.contact__caption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #38761D; 
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.contact__title {
    font-size: 48px;
    line-height: 64px;
    color: #21272A;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.contact__form {
    max-width: 600px;
    margin: 0 auto;
}

.contact__field {
    position: relative;
    margin-bottom: 1.5rem;
}

.contact__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-weight: 600; 
    /*font-weight: 500; */
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #555;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contact__input {
    width: 100%;
    padding: 2.7rem 1rem 1rem 1rem;
    
    border: none;
    border-radius: 8px;
    background-color: #E9EBE8; 
    
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #222;
    
    /* Borde sutil */
    border-bottom: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.contact__textarea {
    height: 150px;
    resize: vertical;
}

.contact__input:focus {
    outline: none;
    border-color: #38761D;
}


.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown) + .contact__label {
    top: 0.5rem;
    font-size: 0.75rem;
    color: #38761D; 
}


.contact__button-wrapper {
    text-align: center; 
}

.contact__button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background-color: #38761D;
    color: #fff;
}

.contact__button:hover {
    background-color: #275213;
}